#wpadminbar {
	display: none;
}
html {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

.cookiesCampers__nav {
	top: 0 !important;
}

aside.country-selector {
	position: fixed !important;
    top: 2px !important;
    right: calc(((100vw - 1520px)/2) + 130px) !important;
    transform: scale(0.9) !important;
	background: #07693a !important;
	bottom: inherit !important;
	&.weglot-dropdown .wgcurrent:after {
		filter: invert(4) !important;
	}
	&.weglot-dropdown .wgcurrent {
		border: 0 !important;
	}
	.wglanguage-name {
		color: white !important;
	}
}
@media screen and (max-width: 1520px) {
	aside.country-selector {
		right: 115px !important;
	}
}
@media screen and (max-width: 780px) {
	aside.country-selector {
		background-color: #05552f !important;
		top: 24px !important;
    	right: 275px !important;
	}
}
@media screen and (max-width: 540px) {
	aside.country-selector {
		position: absolute;
		top: 89px !important;
		right: -6px !important;
		border-top-right-radius: 0 !important;
		border-top-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
}

@media screen and (max-width: 480px) {
	aside.country-selector {
		top: 79px !important;
	}
}